{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "no-param-reassign": 0,
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
