# See https://help.github.com/ignore-files/ for more about ignoring files.

# Serverless directories
.serverless

# dependencies
/node_modules
jspm_packages
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn

# misc
.DS_Store
.vscode

# config
.env
env.yml

# docs
/docs

# logs
/logs

# tests
coverage

# docker
docker-compose.override.yml

CHANGELOG.md
DOCUMENTATION.md
